<h3 class="form-section">@L("UserInformations")</h3>
<dl class="dl-horizontal">
    <dt>@L("UserName")</dt>
    <dd>{{vm.auditLog.user.userName}}</dd>
    <dt>@L("ClientIpAddress")</dt>
    <dd>{{vm.auditLog.clientIpAddress}}</dd>
    <dt>@L("ClientName")</dt>
    <dd>{{vm.auditLog.clientName}}</dd>
    <dt>@L("BrowserInfo")</dt>
    <dd>{{vm.auditLog.browserInfo}}</dd>
</dl>
<h3 class="form-section">@L("ActionInformations")</h3>
<dl class="dl-horizontal">
    <dt>@L("ServiceName")</dt>
    <dd>{{vm.auditLog.serviceName}}</dd>
    <dt>@L("MethodName")</dt>
    <dd>{{vm.auditLog.methodName}}</dd>
    <dt>@L("ExecutionTime")</dt>
    <dd>{{vm.getExecutionTime()}}</dd>
    <dt>@L("ExecutionDuration")</dt>
    <dd>{{vm.auditLog.executionDuration}}</dd>
</dl>
<h3 class="form-section">@L("CustomData")</h3>
<dl class="dl-horizontal">
    <dt>@L("CustomData")</dt>
    <dd><pre ng-if="vm.auditLog.customData">{{vm.auditLog.customData}}</pre></dd>
</dl>
<dl class="dl-horizontal">
    <dt>@L("ErrorState")</dt>
    <dd>
        <label ng-if="!vm.auditLog.exception"><i class="icon-check-circle"></i> @L("Success")</label>
        <pre ng-if="vm.auditLog.exception">{{vm.auditLog.exception}}</pre>
    </dd>
</dl>