<div ng-controller="app.manager.areaAgent.areaAgent.createOrEdit as vm">
    <form name="areaAgentCreateOrEditForm" novalidate>
        <div class="tab" data-ride="tab">
            <ul class="tab-nav-list">
                <li class="actived">
                    <a>@L("BaseInfo")</a>
                </li>
                <li>
                    <a>@L("Distribution")</a>
                </li>
            </ul>
            <div class="tab-box">
                <div class="tab-page show">
                    <div class="form-group">
                        <label class="form-group-key">@L("Name")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="name" ng-model="vm.areaAgent.name" required>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.name.$error.required">@L("NameIsRequired")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("Level")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <select name="level" required ng-model="vm.areaAgent.level" ng-options="level.value as level.name for level in vm.levels">
                                    <option value="">-- @L("PleaseSelect") --</option>
                                </select>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.level.$error.required">@L("LevelIsRequired")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("Price")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="price" ng-model="vm.areaAgent.price" required>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.price.$error.required">@L("PriceIsRequired")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key column-1">@L("CertificateTemplate")</label>
                        <div class="form-group-block column-9">
                            <select name="pictureTemplate" ng-model="vm.areaAgent.pictureTemplateId" ng-options="pictureTemplate.id as pictureTemplate.name for pictureTemplate in vm.pictureTemplates">
                                <option value="">-- @L("PleaseSelect") --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("MinAgentOrderMoney")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="minAgentOrderMoney" ng-model="vm.areaAgent.minAgentOrderMoney">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("Discount")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="discount" ng-model="vm.areaAgent.discount" required>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.discount.$error.required">@L("DiscountIsRequired")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("RebateRatio")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="rebateRatio" ng-model="vm.areaAgent.rebateRatio" required>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.rebateRatio.$error.required">@L("RebateRatio")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("IndirectRebateRatio")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="indirectRebateRatio" ng-model="vm.areaAgent.indirectRebateRatio" required>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.rebateRatio.$error.required">@L("IndirectRebateRatio")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("NormalAddressRatio")</label>
                        <div class="form-group-block">
                            <div class="input-wrapper line">
                                <input type="text" name="normalAddressRatio" ng-model="vm.areaAgent.normalAddressRatio" required>
                            </div>
                            <p class="validate-message error" ng-show="areaAgentCreateOrEditForm.normalAddressRatio.$error.required">@L("NormalAddressRatioIsRequired")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-group-key">@L("MasterQrcode")</label>
                        <div class="form-group-block">
                            <div class="picture-uploader"
                                 picture-uploader
                                 path="vm.areaAgent.masterQrcode"
                                 data-option-url="/Manager/Home/Upload"
                                 data-option-default-image="/Content/frame/canknow/image/upload-picture.png">
                                <img height="128" ng-src="{{vm.areaAgent.masterQrcode}}" />
                                <input type="file" />
                                <input type="hidden" name="MasterQrcode" ng-model="vm.areaAgent.masterQrcode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-page hide">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@L("Level")</th>
                                <th>@L("Money")</th>
                                <th>@L("Ratio")</th>
                                <th>@L("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="distribution in vm.areaAgentDistributions">
                                <td>
                                    <input type="text" name="distribution[level]" ng-model="distribution.level" />
                                </td>
                                <td>
                                    <input type="text" name="distribution[money]" ng-model="distribution.money" />
                                </td>
                                <td>
                                    <input type="text" name="distribution[ratio]" ng-model="distribution.ratio" />
                                </td>
                                <td>
                                    <button class="button-text" ng-click="vm.removeDistribution($index)">@L("Remove")</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="button-text block" ng-click="vm.addDistribution()">@L("AddDistribution")</button>
                </div>
            </div>
        </div>
        <button class="button-text primary block" ng-click="vm.createOrEdit()" ng-disabled="areaAgentCreateOrEditForm.$invalid"><i class="icon-save"></i>@L("Save")</button>
    </form>
</div>