<div ng-cloak class="ng-cloak" ng-controller="app.mobile.agentOrder.index as vm" novalidate name="orderConfirmForm">
    <input type="hidden" id="customerInfoId" value="@Model.CustomerInfoId" />
    <div class="notice static warning" ng-if="vm.minAgentOrderMoney">
        <div class="container">
            <div class="content">
                <p ng-bind="'MinAgentOrderMoneyNote'|localize:vm.minAgentOrderMoney"></p>
            </div>
        </div>
    </div>
    <div ng-if="vm.boughtItems.length">
        <a ng-if="vm.isNeedLogistics" 
           class="customer-info-box margin-bottom-1" 
           href="@Url.Action("Index","CustomerInfo",new {ReturnUrl=ViewBag.ReturnUrl})">
            <div class="customer-info" ng-if="vm.customerInfo">
                <div class="order-address-icon-box">
                    <span class="order-address-icon"></span>
                </div>
                <div class="customer-info-content">
                    <div class="contact-info">
                        <span class="contact-note">@L("Contact"):</span>
                        <span class="full-name">{{vm.customerInfo.fullName}}</span>
                        <span class="phone-number">{{vm.customerInfo.phoneNumber}}</span>
                    </div>
                    <div class="address-info">
                        <p class="detail">
                            <span class="detail-address-note pull-left">@L("Address"):</span>
                            {{vm.customerInfo.fullAddress}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="select-customer-info" ng-if="!vm.customerInfo">
                <div>
                    <span class="cross"></span>@L("PleaseAddCustomerInfo")
                </div>
            </div>
        </a>
        <div ng-if="vm.customCustomerInfos">
            <div class="list-form">
                <ul class="list-form-list">
                    <li>
                        <div class="form-group" ng-repeat="customCustomerInfo in vm.customCustomerInfos">
                            <label class="form-group-key" ng-bind="customCustomerInfo.name"></label>
                            <div class="form-group-block">
                                <div class="input-wrapper large" ng-if="customCustomerInfo.type==0">
                                    <input type="text" ng-attr-name="{{customCustomerInfo.name}}" ng-model="customCustomerInfo.value" ng-if="customCustomerInfo.required" required>
                                    <input type="text" ng-attr-name="{{customCustomerInfo.name}}" ng-model="customCustomerInfo.value" ng-if="!customCustomerInfo.required">
                                </div>
                                <div class="input-wrapper large" ng-if="customCustomerInfo.type==1">
                                    <input type="tel" ng-attr-name="{{customCustomerInfo.name}}" ng-model="customCustomerInfo.value" ng-if="customCustomerInfo.required" required>
                                    <input type="tel" ng-attr-name="{{customCustomerInfo.name}}" ng-model="customCustomerInfo.value" ng-if="!customCustomerInfo.required">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="media-list no-margin-bottom" ng-if="vm.boughtItems.length">
            <li ng-repeat="boughtItem in vm.boughtItems">
                <div class="media-item order-item">
                    <div class="title-picture-box">
                        <img width="64" class="title-picture" ng-src="{{boughtItem.specification.picture}}">
                    </div>
                    <div class="body">
                        <h5 class="title">
                            {{boughtItem.specification.fullName}}
                        </h5>
                        <div class="property">
                            <span class="price"><small class="price-sign">￥</small>{{boughtItem.price}}</span>
                        </div>
                    </div>
                    <button class="button-text border radius danger right-button" ng-click="vm.removeBoughtItem($index)">@L("Remove")</button>
                </div>
                <div class="list-form">
                    <ul class="list-form-list">
                        <li>
                            <div class="form-group">
                                <label class="form-group-key">@L("Count")</label>
                                <div class="form-group-block">
                                    <div class="number-control-vertical-group" ng-repeat="productUnit in boughtItem.specification.product.productUnits">
                                        <label class="number-control">
                                            <button type="button" class="button-icon decrease" ng-click="vm.decreaseCount(boughtItem,productUnit)" ng-disabled="vm.isDisableDecreaseCount(boughtItem)">-</button>
                                            <input type="text" name="count" ng-model="productUnit.count" required ng-change="vm.changeCount(boughtItem)">
                                            <button type="button" class="button-icon increase" ng-click="vm.increaseCount(boughtItem,productUnit)" ng-disabled="vm.isDisableIncreaseCount(boughtItem)">+</button>
                                        </label>
                                        <span ng-bind="productUnit.name"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="list-form-list margin-bottom-1" ng-if="vm.loaded">
            <li>
                <div class="form-group">
                    <label class="form-group-key">@L("OrderNoteOfCustomer")</label>
                    <div class="form-group-block">
                        <div class="input-wrapper">
                            <input type="text" placeholder="@L("LeaveMessageToSeller")" ng-model="vm.noteOfCustomer">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="total-price-block" ng-if="vm.loaded">
            <label class="text-indicator">@L("TotalMoney")</label><span><small class="price-sign">￥</small>{{vm.money}}</span> + <span><small class="price-sign">￥</small>{{vm.postage}}</span>=<span class="money"><small class="price-sign">￥</small>{{vm.money+vm.postage}}</span>
        </div>
    </div>
    <div class="container">
        <div class="input-wrapper margin-top-1 margin-bottom-1" ng-if="vm.specifications&&vm.specifications.length">
            <select ng-model="vm.selectedSpecification" ng-options="specification as specification.name group by specification.product.name
            for specification in vm.specifications"></select>
            <button class="button-text" ng-click="vm.addBoughtItem()" ng-disabled="!vm.selectedSpecification">@L("Add")</button>
        </div>
        <button ng-if="vm.loaded&&vm.boughtItems.length" class="button-text colored block button-buy"
                ng-click="vm.submit()"
                ng-disabled="(vm.isNeedLogistics&&!vm.customerInfo)||orderConfirmForm.$invalid">
            @L("SubmitOrder")
        </button>
    </div>
</div>