<div class="container" ng-controller="app.manager.profile.changePassword as vm">
    <div class="view-page-head">
        <h1 class="view-page-title">
            <span>@L("ChangePassword")</span> <small>@L("ChangePasswordHeaderInfo")</small>
        </h1>
    </div>
    <form name="mySettingsForm" novalidate>
        <div class="form-group">
            <label class="form-group-key">@L("CurrentPassword")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="password" name="CurrentPassword" ng-model="vm.passwordInfo.currentPassword" required maxlength="@Application.Authorization.Users.User.MaxPlainPasswordLength">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("NewPassword")</label>
            <div class="form-group-block">
                <div class="input-wrapper">
                    <input type="password" name="NewPassword" ng-model="vm.passwordInfo.newPassword" required password-complexity password-complexity-setting="vm.passwordComplexitySetting">
                </div>
            </div>
        </div>
        <div ng-messages="mySettingsForm.passwordComplexity.$error" ng-show="mySettingsForm.NewPassword.$error">
            <ul class="validate-message text-danger">
                <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityMinLengthValidator" ng-message="passwordCompexityMinLengthValidator">{{vm.passwordComplexityMessages.minLenght}}</li>
                <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityMaxLengthValidator" ng-message="passwordCompexityMaxLengthValidator">{{vm.passwordComplexityMessages.maxLenght}}</li>
                <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUseUpperCaseLettersValidator" ng-message="passwordCompexityUseUpperCaseLettersValidator">{{vm.passwordComplexityMessages.useUpperCaseLetters}}</li>
                <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUseLowerCaseLettersValidator" ng-message="passwordCompexityUseLowerCaseLettersValidator">{{vm.passwordComplexityMessages.useLowerCaseLetters}}</li>
                <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUseNumbersValidator" ng-message="passwordCompexityUseNumbersValidator">{{vm.passwordComplexityMessages.useNumbers}}</li>
                <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUsePunctuationsValidator" ng-message="passwordCompexityUsePunctuationsValidator">{{vm.passwordComplexityMessages.usePunctuations}}</li>
            </ul>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("NewPasswordAgain")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="password" name="NewPasswordRepeat" ng-model="vm.passwordInfo.newPasswordRepeat" required ui-validate="'$value==vm.passwordInfo.newPassword'" ui-validate-watch="'vm.passwordInfo.newPassword'">
                </div>
            </div>
        </div>
        <button type="submit" class="button-text block primary" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><span>@L("Save")</span></button>
    </form>
</div>