@{
    Layout = "~/Areas/Mobile/Views/Shared/_FlexLayout.cshtml";
}
<div class="container-responsive padding-1" ng-controller="app.mobile.account.resetPasswordController">
    <form name="forgetForm" class="form-vertical" action="@Url.Action("SendPasswordResetLink")" method="post" novalidate>
        <h3>@L("ForgotPassword")</h3>
        <p>
            @L("SendPasswordResetLinkInformation")
        </p>
        @Html.AntiForgeryToken()
        @if (ViewBag.IsMultiTenancyEnabled)
        {
            <input type="hidden" name="TenancyName" value="@ViewBag.TenancyName"/>
        }
        <div class="form-group">
            <label class="form-group-key">@L("EmailAddress")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input class="form-control" type="email" name="EmailAddress" data-validate placeholder="@L("EmailAddress")" data-required="true" data-maxlength="@Application.Authorization.Users.User.MaxEmailAddressLength" />
                </div>
            </div>
        </div>
        <button type="submit" class="button-text success block">@L("Submit")</button>
    </form>
</div>
<script>
    (function () {
        appModule.controller('app.mobile.account.resetPasswordController', function ($scope) {
            $("form").formValidate({
                onsubmit: function () {
                    var _this = this;
                    _this.setLoading();
                    infrastructure.ajax({
                        contentType: "application/x-www-form-urlencoded",
                        url: _this.$element.attr('action'),
                        data: _this.getData(),
                        success: function (result) {
                            infrastructure.message.success(app.localize('PasswordResetMailSentMessage'), app.localize('MailSent'));
                        }, complete: function () {
                            _this.clearLoading();
                        }
                    });
                }
            });
        });
    })();
</script>