<div ng-controller="app.manager.order.detail as vm">
    <h3>{{vm.order.title}}</h3>

    <div class="tab" data-ride="tab">
        <ul class="tab-nav-list">
            <li class="actived">
                <a>@L("BaseInfo")</a>
            </li>
            <li>
                <a>@L("Logistic")</a>
            </li>
            <li>
                <a>@L("OrderDistributions")</a>
            </li>
            <li>
                <a>@L("OrderChannelAgentProductDistributions")</a>
            </li>
            <li>
                <a>@L("OrderAreaAgentDistributions")</a>
            </li>
            <li>
                <a>@L("OrderChannelAgentDistributions")</a>
            </li>
            <li>
                <a>@L("AreaAgentRebates")</a>
            </li>
            <li>
                <a>@L("ChannelAgentRebates")</a>
            </li>
        </ul>
        <div class="tab-box" data-ride="tab">
            <div class="tab-page">
                <ul class="info-list">
                    <li class="row">
                        <div class="column-2">@L("FullName")</div>
                        <div class="column-8">{{vm.order.orderCustomerInfo.fullName}}</div>
                    </li>
                    <li class="row">
                        <div class="column-2">@L("PhoneNumber")</div>
                        <div class="column-8">{{vm.order.orderCustomerInfo.phoneNumber}}</div>
                    </li>
                    <li class="row">
                        <div class="column-2">@L("Address")</div>
                        <div class="column-8">{{vm.order.orderCustomerInfo.fullAddress}}</div>
                    </li>
                </ul>
                <button class="button-text" ng-click="vm.changeCustomerInfo(vm.order)">@L("ChangeCustomerInfo")</button>
                <table class="table table-bordered margin-top-1" ng-if="vm.order.orderItems&&vm.order.orderItems.length">
                    <thead>
                        <tr>
                            <th>@L("Picture")</th>
                            <th>@L("Name")</th>
                            <th>@L("Count")</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="orderItem in vm.order.orderItems">
                        <td><img width="32" ng-src="{{orderItem.specification.picture}}" /></td>
                        <td>{{orderItem.specification.name}}</td>
                        <td>{{orderItem.count}}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-page">
                <dl class="dl-horizontal" ng-if="vm.isNeedLogistics&&vm.shipStatus">
                    <dt>@L("ExpressCompanyName")</dt>
                    <dd>{{vm.order.expressCompanyName}}</dd>
                    <dt>@L("TrackingNumber")</dt>
                    <dd>{{vm.order.trackingNumber}}</dd>
                </dl>
            </div>
            <div class="tab-page">
                <ul class="list-unstyled">
                    <li ng-repeat="orderDistribution in vm.order.orderDistributions">
                        <div class="profileItem padding-1 bg-color-grayLight">
                            <div class="profileItemAvatarBox">
                                <img width="48" height="48" class="profileTtemAvatar imageCircle" ng-src="{{orderDistribution.user.avatar}}">
                            </div>
                            <div class="profileItemBody">
                                <h6 class="profileItemName thin">{{orderDistribution.user.nickName}}</h6>
                            </div>
                        </div>
                        <ul class="info-list">
                            <li class="row">
                                <div class="column-2-5">@L("DistributionMoney")</div>
                                <div class="column-7-5">{{orderDistribution.money}}</div>
                            </li>
                            <li class="row">
                                <div class="column-2-5">@L("Level")</div>
                                <div class="column-7-5">{{orderDistribution.distribution.level}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-page">
                <ul class="list-unstyled">
                    <li ng-repeat="orderDistribution in vm.order.orderChannelAgentProductDistributions">
                        <div class="profileItem padding-1 bg-color-grayLight">
                            <div class="profileItemAvatarBox">
                                <img width="48" height="48" class="profileTtemAvatar imageCircle" ng-src="{{orderDistribution.user.avatar}}">
                            </div>
                            <div class="profileItemBody">
                                <h6 class="profileItemName thin">{{orderDistribution.user.nickName}}</h6>
                            </div>
                        </div>
                        <ul class="info-list">
                            <li class="row">
                                <div class="column-2-5">@L("DistributionMoney")</div>
                                <div class="column-7-5">{{orderDistribution.money}}</div>
                            </li>
                            <li class="row">
                                <div class="column-2-5">@L("Level")</div>
                                <div class="column-7-5">{{orderDistribution.distribution.level}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-page">
                <ul class="list-unstyled">
                    <li ng-repeat="orderDistribution in vm.order.orderAreaAgentDistributions">
                        <div class="profileItem padding-1 bg-color-grayLight">
                            <div class="profileItemAvatarBox">
                                <img width="48" height="48" class="profileTtemAvatar imageCircle" ng-src="{{orderDistribution.user.avatar}}">
                            </div>
                            <div class="profileItemBody">
                                <h6 class="profileItemName thin">{{orderDistribution.user.nickName}}</h6>
                            </div>
                        </div>
                        <ul class="info-list">
                            <li class="row">
                                <div class="column-2-5">@L("DistributionMoney")</div>
                                <div class="column-7-5">{{orderDistribution.money}}</div>
                            </li>
                            <li class="row">
                                <div class="column-2-5">@L("Level")</div>
                                <div class="column-7-5">{{orderDistribution.distribution.level}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-page">
                <ul class="list-unstyled">
                    <li ng-repeat="orderDistribution in vm.order.orderChannelAgentDistributions">
                        <div class="profileItem padding-1 bg-color-grayLight">
                            <div class="profileItemAvatarBox">
                                <img width="48" height="48" class="profileTtemAvatar imageCircle" ng-src="{{orderDistribution.user.avatar}}">
                            </div>
                            <div class="profileItemBody">
                                <h6 class="profileItemName thin">{{orderDistribution.user.nickName}}</h6>
                            </div>
                        </div>
                        <ul class="info-list">
                            <li class="row">
                                <div class="column-2-5">@L("DistributionMoney")</div>
                                <div class="column-7-5">{{orderDistribution.money}}</div>
                            </li>
                            <li class="row">
                                <div class="column-2-5">@L("Level")</div>
                                <div class="column-7-5">{{orderDistribution.distribution.level}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-page">
                <ul class="list-unstyled">
                    <li ng-repeat="areaAgentRebate in vm.order.areaAgentRebates">
                        <div class="profileItem padding-1 bg-color-grayLight">
                            <div class="profileItemAvatarBox">
                                <img width="48" height="48" class="profileTtemAvatar imageCircle" ng-src="{{areaAgentRebate.user.avatar}}">
                            </div>
                            <div class="profileItemBody">
                                <h6 class="profileItemName thin">{{areaAgentRebate.user.nickName}}</h6>
                            </div>
                        </div>
                        <ul class="info-list">
                            <li class="row">
                                <div class="column-2-5">@L("RebateMoney")</div>
                                <div class="column-7-5">{{areaAgentRebate.money}}</div>
                            </li>
                            <li class="row">
                                <div class="column-2-5">@L("Remark")</div>
                                <div class="column-7-5">{{areaAgentRebate.remark}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tab-page">
                <ul class="list-unstyled">
                    <li ng-repeat="channelAgentRebate in vm.order.channelAgentRebates">
                        <div class="profileItem padding-1 bg-color-grayLight">
                            <div class="profileItemAvatarBox">
                                <img width="48" height="48" class="profileTtemAvatar imageCircle" ng-src="{{channelAgentRebate.user.avatar}}">
                            </div>
                            <div class="profileItemBody">
                                <h6 class="profileItemName thin">{{channelAgentRebate.user.nickName}}</h6>
                            </div>
                        </div>
                        <ul class="info-list">
                            <li class="row">
                                <div class="column-2-5">@L("RebateMoney")</div>
                                <div class="column-7-5">{{channelAgentRebate.money}}</div>
                            </li>
                            <li class="row">
                                <div class="column-2-5">@L("Depth")</div>
                                <div class="column-7-5">{{channelAgentRebate.depth}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>