@using Infrastructure.Web.Mvc.Extensions
@using Application.MultiTenancy
@{
    Layout = "~/Views/Shared/_FlexLayout.cshtml";
}
<div class="container-responsive padding-1">
    <form class="form-vertical" action="@Url.Action("SendPasswordResetLink")" method="post" ng-controller="app.home.account.resetPasswordController">
        <h3>@L("ForgotPassword")</h3>
        <p>
            @L("SendPasswordResetLinkInformation")
        </p>
        @Html.AntiForgeryToken()
        @if (ViewBag.IsMultiTenancyEnabled)
        {
            if (string.IsNullOrEmpty(ViewBag.TenancyName))
            {
                <div class="form-group">
                    <label class="form-group-key">@L("TenancyName")</label>
                    <div class="form-group-block">
                        <div class="input-wrapper">
                            <input type="text" placeholder="@L("TenancyName")" name="tenancyName" maxlength="@Tenant.MaxTenancyNameLength" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" name="tenancyName" value="@ViewBag.TenancyName" />
            }
        }
        <div class="form-group">
            <label class="form-group-key">@L("EmailAddress")</label>
            <div class="form-group-block">
                <div class="input-wrapper">
                    <input type="email" name="EmailAddress" autocomplete="on" data-validate placeholder="@L("EmailAddress")" data-required="true" data-maxlength="@Application.Authorization.Users.User.MaxEmailAddressLength" />
                </div>
            </div>
        </div>
        <button type="submit" class="button-text success">@L("Submit")</button>
    </form>
</div>

<script>
    (function () {
        var appModule = appModule;
        appModule.controller('app.home.account.resetPasswordController', function ($scope) {
            $("form").formValidate({
                onsubmit: function () {
                    var _this = this;
                    _this.setLoading();
                    infrastructure.ajax({
                        contentType: "application/x-www-form-urlencoded",
                        url: _this.$element.attr('action'),
                        data: _this.getData(),
                        success: function (result) {
                            infrastructure.message.success(app.localize('PasswordResetMailSentMessage'), app.localize('MailSent'));
                        }, complete: function () {
                            _this.clearLoading();
                        }
                    });
                }
            });
        });
    })();
</script>