@using Infrastructure.Timing
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <meta content="Canknow" name="description">
    <meta content="Canknow" name="keywords">
    <meta content="Canknow" name="author">

    <title>@ViewBag.PageTitle</title>
    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Content/frame/canknow/dist/css/canknow.css")
    @Styles.Render("~/Bundles/App/Mobile.css")

    @Scripts.Render("~/Bundles/Frontend/libs.js")
	@Scripts.Render("~/Bundles/Frame/canknow.js")
    @Scripts.Render("~/Bundles/Frame/canknow/angular.js")
    @Scripts.Render("~/Bundles/Infrastructure.js")

    <!-- Dynamic scripts of Infrastructure system (They are created on runtime and can not be bundled) -->
    <script src="~/api/ServiceProxies/GetAll"></script>
    <script src="~/api/ServiceProxies/GetAll?type=angular"></script>
    <script src="~/Scripts/GetScripts" type="text/javascript"></script>

    @Scripts.Render("~/Bundles/Common.js")
    @Scripts.Render("~/Bundles/App/Common.js")

    @Scripts.Render("~/Bundles/App/Mobile.js")
</head>