@using Application.MultiTenancy
@using Infrastructure.MultiTenancy

<div ng-controller="app.manager.host.tenant.create as vm">
    <div class="view-page-head">
        <h1 class="view-page-title">
            <span>@L("Tenant")</span> <small>@L("CreateNewTenant")</small>
        </h1>
    </div>
    <form name="tenantCreateForm" novalidate>
        <div class="form-group">
            <label class="form-group-key">@L("TenancyName")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="text" name="TenancyName" ng-model="vm.tenant.tenancyName" required maxlength="@Tenant.MaxTenancyNameLength">
                </div>
            </div>
            <p class="validate-message text-danger" ng-show="!tenantCreateForm.TenancyName.$valid && tenantCreateForm.TenancyName.$dirty">@L("TenantName_Regex_Description")</p>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("Name")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="text" name="Name" ng-model="vm.tenant.name" required maxlength="@Tenant.MaxNameLength">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("UseHostDatabase")</label>
            <div class="form-group-block">
                <div class="checkbox-switcher">
                    <input name="UseHostDatabase" type="checkbox" ng-model="vm.useHostDb">
                    <label><span class="on">on</span><span class="off">off</span></label>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="!vm.useHostDb">
            <label class="form-group-key">@L("DatabaseConnectionString") (@L("Optional"))</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="text" name="ConnectionString" ng-model="vm.tenant.connectionString" maxlength="@TenantBase.MaxConnectionStringLength">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("AdminEmailAddress")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="email" name="AdminEmailAddress" ng-model="vm.tenant.adminEmailAddress" required maxlength="@Application.Authorization.Users.User.MaxEmailAddressLength">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("SetRandomPassword")</label>
            <div class="form-group-block">
                <div class="checkbox-switcher">
                    <input type="checkbox" name="SetRandomPassword" ng-model="vm.setRandomPassword">
                    <label><span class="on">on</span><span class="off">off</span></label>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="!vm.setRandomPassword">
            <label class="form-group-key">@L("AdminPassword")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="password" name="Password" ng-model="vm.tenant.adminPassword" ng-required="!vm.setRandomPassword" maxlength="@Application.Authorization.Users.User.MaxPlainPasswordLength">
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="!vm.setRandomPassword">
            <label class="form-group-key">@L("AdminPassword")</label>
            <div class="form-group-block">
                <div class="input-wrapper line">
                    <input type="password" name="AdminPasswordRepeat" ng-model="vm.tenant.adminPasswordRepeat" ng-required="!vm.setRandomPassword" maxlength="@Application.Authorization.Users.User.MaxPlainPasswordLength">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("Edition")</label>
            <div class="form-group-block">
                <select id="TenantEditionSelectionCombobox" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.editions" 
                        ng-model="vm.tenant.editionId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-key">@L("ShouldChangePasswordOnNextLogin")</label>
            <div class="form-group-block">
                <div class="checkbox-switcher">
                    <input name="ShouldChangePasswordOnNextLogin" type="checkbox" ng-model="vm.tenant.shouldChangePasswordOnNextLogin">
                    <label><span class="on">on</span><span class="off">off</span></label>
                </div>
            </div>
        </div>
        <p>@L("DefaultPasswordIs", Application.Authorization.Users.User.DefaultPassword)</p>
        <button type="submit" class="button-text block primary" ng-click="vm.save()" ng-disabled="tenantCreateForm.$invalid"><i class="icon-save"></i> <span>@L("Save")</span></button>
    </form>
</div>