<div ng-controller="app.mobile.shopCart.index as vm" class="ng-cloak" ng-cloak>
	<div ng-if="!vm.isLoading&&(!vm.shopCartItems||!vm.shopCartItems.length)">
		<div class="blank">
			@L("TheShopCartIsEmpty")
		</div>
		<div class="container">
			<a href="/Mobile/Home/Index" class="button-text block border radius">@L("GoToSelectProduct")</a>
		</div>
	</div>
	<ul class="media-list ng-cloak" ng-if="vm.shopCartItems&&vm.shopCartItems.length" ng-cloak>
		<li ng-repeat="shopCartItem in vm.shopCartItems">
			<div class="media-item order-item">
				<div class="title-picture-box">
					<img width="64" class="title-picture" ng-src="{{shopCartItem.specification.picture}}">
				</div>
				<div class="body">
					<h5 class="title" ng-bind="shopCartItem.specification.fullName"></h5>
					<div class="property">
						<span class="price"><small class="price-sign">￥</small><span ng-bind="shopCartItem.specification.price"></span></span>
					</div>
				</div>
				<button class="button-text border radius danger right-button" ng-click="vm.removeItem($index)">@L("Remove")</button>
			</div>
			<form class="list-form">
				<ul class="list-form-list">
					<li>
						<div class="form-group">
							<label class="form-group-key">@L("Count")</label>
							<div class="form-group-block">
								<div class="number-control">
									<button type="button" class="button-icon decrease" ng-click="vm.decreaseCount(shopCartItem)" ng-disabled="vm.isDisableDecreaseCount(shopCartItem)">-</button>
									<input type="text" name="count" ng-model="shopCartItem.count" required ng-change="vm.changeCount(shopCartItem)">
									<button type="button" class="button-icon increase" ng-click="vm.increaseCount(shopCartItem)" ng-disabled="vm.isDisableIncreaseCount(shopCartItem)">+</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</form>
			<div class="price-block">
				<div class="count-box">
					@L("TotalCount")<label class="count" ng-bind="shopCartItem.count"></label>@L("Piece")
				</div>
				<div class="money-block">
					@L("TotalMoney")<label class="money"><small class="price-sign">￥</small><span ng-bind="shopCartItem.specification.price*shopCartItem.count"></span></label>
				</div>
			</div>
		</li>
	</ul>
	<div class="container" ng-if="vm.shopCartItems&&vm.shopCartItems.length">
		<a class="button-text colored block button-buy" href="/Mobile/Order/ConfirmOrderForShopCart">@L("Settlement")</a>
	</div>
</div>