<div ng-controller="app.manager.notifications.index as vm">
    <div class="view-page-head">
        <h1 class="view-page-title">
            <span>@L("Notifications")</span>
        </h1>
    </div>
    <div class="row">
        <form id="auditLogFilterForm" class="column-5 form-horizontal">
            <div class="form-group">
                <div class="form-group-block">
                    <div class="input-wrapper">
                        <select ng-model="vm.readStateFilter"
                                ng-change="vm.getNotifications()"
                                ui-options='{ iconBase: "fa", tickIcon: "fa fa-check" }'>
                            <option value="ALL">@L("All")</option>
                            <option value="UNREAD">@L("Unread")</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="button-text icon block primary" ng-click="getAuditLogs()"><i class="icon icon-refresh"></i>@L("Search")</button>
        </form>
        <div class="column-5 text-right">
            <button class="button-text" ng-click="vm.openNotificationSettingsModal()"><i class="icon-cog"></i> @L("NotificationSettings")</button>
            <button class="button-text primary" ng-click="vm.setAllNotificationsAsRead()"><i class="icon-check"></i> @L("SetAllAsRead")</button>
        </div>
    </div>
    <div class="row">
        <div class="column-10">
            <div class="responsive-table-container">
                <table class="table table-striped table-hover table-bordered" id="notificationsTable">
                    <thead>
                        <tr>
                            <th>@L("Notification")</th>
                            <th>@L("Status")</th>
                            <th>@L("CreationTime")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="notification in vm.notifications">
                            <td>
                                <a ng-if="notification.url" ui-sref="{{notification.url}}">{{notification.text}}</a>
                                <span ng-if="!notification.url">{{notification.text}}</span>
                            </td>
                            <td>{{notification.state}}</td>
                            <td>{{notification.time|momentFormat: 'llll'}}</td>
                            <td>
                                <button ng-click="vm.setNotificationAsRead(notification)" ng-disabled="notification.state=='READ'" class="button-text">
                                    <i ng-class="{'icon-check': notification.state =='READ','icon-circle-o': notification.state == 'UNREAD'}"></i>
                                    @L("SetAsRead")
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>