<div class="dialog">
    <div class="header">
        <div class="container-responsive">
            <h5 class="title">@L("ProductCategory")</h5>
            <button class="button-icon button-close">¡Á</button>
        </div>
    </div>
    <div class="body">
        <form class="container-responsive form-horizontal" name="productCategoryCreateOrEditForm" novalidate>
            <h3>@L("ProductCategoryCreateOrEditHeaderInfo")</h3>
            <div class="form-group">
                <label class="form-group-key column-2">@L("Name")</label>
                <div class="form-group-block column-8">
                    <div class="input-wrapper line">
                        <input type="text" name="name" ng-model="vm.productCategory.name" required>
                        <p class="validate-message error" ng-show="productCategoryCreateOrEditForm.name.$error.required">@L("NameIsRequired")</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="container-responsive">
            <button class="button-text button-close">@L("Close")</button>
            <button class="button-text primary button-ok" ng-click="vm.createOrEdit()" ng-disabled="productCategoryCreateOrEditForm.$invalid">
                <i class="icon-save"></i> <span>@L("SaveAndClose")</span>
            </button>
        </div>
    </div>
</div>