<div ng-controller="app.manager.user.index as vm">
    <div class="view-page-head">
        <h1 class="view-page-title">
            <span>@L("Users")</span> <small>@L("UsersHeaderInfo")</small>
        </h1>
        <a class="button-text primary" ui-sref="user.createOrEdit"><i class="icon-plus"></i>@L("CreateNewUser")</a>
        <a class="button-text" ui-sref="user.statistics"><i class="icon-group"></i>@L("Statistics")</a>
        <a class="button-text" ui-sref="user.heatMap"><i class="icon-group"></i>@L("HeatMap")</a>
    </div>
    <form id="userFilterForm" class="form-horizontal">
        <div class="row">
            <div class="column-5 padding-base">
                <div class="form-group">
                    <label class="form-group-key column-2">@L("Source")</label>
                    <div class="form-group-block column-8">
                        <div class="input-wrapper">
                            <select name="userSource">
                                <option value="">--@L("PleaseSelect")--</option>
                                <option value="0">System</option>
                                <option value="1">WebPageRegist</option>
                                <option value="2">WeixinInteraction</option>
                                <option value="3">WeixinExternalLogin</option>
                                <option value="4">OtherExternalLogin</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-5">
                <div class="form-group padding-base">
                    <label class="form-group-key column-2">@L("IsSpreader")</label>
                    <div class="form-group-block column-8">
                        <div class="input-wrapper">
                            <select name="isSpreader">
                                <option value="">--@L("PleaseSelect")--</option>
                                <option value="false">@L("No")</option>
                                <option value="true">@L("Yes")</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column-5 padding-base">
                <div class="form-group">
                    <label class="form-group-key column-2">@L("UserName")</label>
                    <div class="form-group-block column-8">
                        <div class="input-wrapper">
                            <input type="text" name="userName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-5">
                <div class="form-group padding-base">
                    <label class="form-group-key column-2">@L("NickName")</label>
                    <div class="form-group-block column-8">
                        <div class="input-wrapper">
                            <input type="text" name="nickName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="button-text icon block primary" ng-click="vm.getUsers()"><i class="icon icon-refresh"></i>@L("Search")</button>
        </div>
    </form>
    <div class="row">
        <div class="column-10">
            <div class="responsive-table-container">
                <table class="table table-bordered table-striped table-hover" id="usersTable">
                    <thead>
                        <tr>
                            <th>@L("Avatar")</th>
                            <th>@L("UserName")</th>
                            <th>@L("NickName")</th>
                            <th>@L("EmailAddress")</th>
                            <th>@L("Role")</th>
                            <th>@L("CreationTime")</th>
                            <th>@L("IsEmailConfirmed")</th>
                            <th>@L("IsSpreader")</th>
							<th>@L("Source")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.users">
                            <td><img width="32" class="circle" ng-src="{{user.avatar}}" /></td>
                            <td>{{user.userName}}</td>
                            <td>{{user.nickName}}</td>
                            <td>{{user.emailAddress}}</td>
                            <td>
                                <span ng-repeat="role in user.roles">
                                    {{role.roleName}}
                                </span>
                            </td>
                            <td>{{user.creationTime|momentFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
                            <td>
                                <span class="label success" ng-if="user.isEmailConfirmed">@L("Yes")</span>
                                <span class="label error" ng-if="!user.isEmailConfirmed">@L("No")</span>
                            </td>
                            <td>
                                <span class="label success" ng-if="user.isSpreader">@L("Yes")</span>
                                <span class="label error" ng-if="!user.isSpreader">@L("No")</span>
                            </td>
							<td>
								<span class="label" ng-if="user.source==0">@L("System")</span>
								<span class="label" ng-if="user.source==1">@L("WebPageRegist")</span>
								<span class="label" ng-if="user.source==2">@L("WeixinInteraction")</span>
								<span class="label" ng-if="user.source==3">@L("WeixinExternalLogin")</span>
								<span class="label" ng-if="user.source==4">@L("OtherExternalLogin")</span>
							</td>
                            <td>
                                <div class="dropdown-wripper dropdown-menu">
                                    <a data-toggle="dropdown" class="button-text">@L("Actions")<i class="icon icon-angle-down dropdown-sign"></i></a>
                                    <ul class="dropdown dropdown-menu-list left hide" data-ride="dropdown">
                                        <li><a ui-sref="user.createOrEdit({id:user.id})">@L("Edit")</a></li>
                                        <li><a ui-sref="user.createOrEdit({parentUserId:user.id})">@L("CreateChild")</a></li>
										<li><a ng-click="vm.deleteUser(user)">@L("Delete")</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>